body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("http://leoholds.com/img/bg.gif");
  font-size: 14px;
  color: var(--color-text);
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}
h1,
h2 {
  font-weight: normal;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 24px;
  color: var(--color-dark-text);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.wrapper {
  max-width: 100%;
  padding: 0 24px;
  margin: 0 auto;
  .left,
  .right {
    width: 50%;
  }
  @media screen and (min-width: 1025px) {
    width: 1000px;
    padding: 0;
  }
}

.content {
  @extend .display-flex;
  min-height: calc(100vh - 232px); // 232px: 160px - header, 72px - footer

  &__page {
    width: 800px;
  }
  @media screen and (min-width: 1025px) {
    padding: 40px 0;
  }
}
