body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('http://leoholds.com/img/bg.gif');
  font-size: 14px;
  color: var(--color-text);
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}
fieldset {
  padding: 0;
  border: none;
}

h1,
h2,
h3 {
  font-weight: normal;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 24px;
  color: var(--color-dark-text);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  @include transition(var(--transition-default));
  width: auto;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.wrapper {
  max-width: 100%;
  padding: 0 24px;
  margin: 0 auto;
  .left,
  .right {
    width: 50%;
  }

  @media screen and (min-width: 1025px) {
    width: 1000px;
    padding: 0;
  }
}

.content {
  @include display-flex;
  min-height: calc(100vh - 232px); // 232px: 160px - header, 72px - footer
  padding: 24px;

  &__page {
    width: 800px;
  }
  @media screen and (min-width: 1025px) {
    padding: 40px 0;
  }
}

.btn-primary {
  height: 32px;
  color: white;
  background: var(--color-active);
  border-radius: 2px;
  border: 1px solid var(--color-active-hover);
  padding: 0 16px;

  &.with-out-paddigs {
    padding: 0;
  }

  &:hover {
    background: var(--color-active-hover);
  }
}
