:root {
  --color-white: #ffffff;
  --color-text: #757474;
  --color-dark-text: #0e0f14;
  --color-active: #47ac67;
  --color-border: #d2d2d2;

  --border-dotted: 1px dotted #919191;
  --border-simple: 1px solid #d2d2d2;
}
